

body{
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.logo {
    width: 120px;
    /* padding: 36px; */
    padding-left: 55px;
    padding-top: 27px;
    /* padding: 27px; */
}
.langage {
    border: 1px solid black;
    width: 69px;
    height: 26px;
    font-size: 13px;
    /* padding: 10px; */
    margin-right: 22px;
    background-color: #0000002e;
    border-radius: 4px;
}

.signin {
    background-color: red;
    border: 1px solid red;
    width: 69px;
    font-size: 13px;
    padding: 5px;
    color: white;
    border-radius: 4px;
}
.topbuttons {
    padding-right: 42px;
    margin-top: 20px;
    /* display: flex; */
    /* align-items: flex-end; */
    padding-right: 65px;
}
.topsection
{
    background-image: url(/img/alpha_website_large.jpg);
}



@media screen and (max-width: 900px) 
{
    .topbuttons {
        display: flex;
        flex-direction: row;
    }
    img.logo {
        width: 100px;
        /* padding: 36px; */
        padding-left: 25px;
        padding-top: 16px;
        /* padding: 27px; */
    }
    .topbuttons {
        padding-right: 17px;
        margin-top: 23px;
    }
    .langage {
        border: 1px solid black;
        width: 70px;
        font-size: 13px;
        /* padding: 3px; */
        margin-right: 7px;
    }
    .signin {
        background-color: red;
        border: 1px solid red;
        width: 70px;
        font-size: 13px;
        /* padding: 10px; */
        color: white;
    }

}
