:root{
   
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.logo {
    width: 120px;
    /* padding: 36px; */
    padding-left: 55px;
    padding-top: 27px;
    /* padding: 27px; */
}
.langage {
    border: 1px solid black;
    width: 69px;
    height: 26px;
    font-size: 13px;
    /* padding: 10px; */
    margin-right: 22px;
    background-color: #00000063;
    border-radius: 4px;
    color: white;
}

.signin {
    background-color: red;
    border: 1px solid red;
    width: 69px;
    font-size: 13px;
    padding: 5px;
    color: white;
    border-radius: 4px;
}
.topbuttons {
    padding-right: 42px;
    margin-top: 20px;
    /* display: flex; */
    /* align-items: flex-end; */
    padding-right: 65px;
}
.topsection {
    background-image: url(/img/alpha_website_large.jpg);
    background-size: cover;
    position: relative;
    /* background-color: black; */
    /* background-blend-mode: color-burn; */
}

.sectiontextone {
    color: white;
    text-align: center;
    font-size: 39px;
    letter-spacing: 2px;
    font-weight: 700;
    padding-top: 108px;
}
.sectiontexttwo {
    color: white;
    text-align: center;
    font-size: 19px;
    font-weight: 100;
    padding-bottom: 5px;
    margin-top: -14px;
    letter-spacing: 1px;
}
.sectiontextthree {
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 17px;
    margin-top: -5px;
}
.formdiv {
    width: 564px;
    height: 44px;
    border: 1px solid white;
    margin: auto;
}

a.signlink {
    color: white;
    text-decoration: none;
}
.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 130px;
}
input[type="email"] {
    width: 442px;
    height: 45px;
    min-height: 34px;
    /* margin-left: -89px; */
    font-size: 18px;
    text-align: start;
    letter-spacing: 1px;
    /* padding: 0px; */
}
button.getstarted {
    background-color: red;
    border: 1px solid;
    /* width: auto; */
    /* height: fit-content; */
    height: 52px;
    width: 149px;
    /* height: 100%; */
}
a.getstartedlink {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

@media screen and (max-width: 900px) 
{
    .topbuttons {
        display: flex;
        flex-direction: row;
    }
    img.logo {
        width: 100px;
        /* padding: 36px; */
        padding-left: 25px;
        padding-top: 16px;
        /* padding: 27px; */
    }
    .topbuttons {
        padding-right: 17px;
        margin-top: 23px;
    }
    .langage {
        border: 1px solid black;
        width: 70px;
        font-size: 13px;
        /* padding: 3px; */
        margin-right: 7px;
    }
    .signin {
        background-color: red;
        border: 1px solid red;
        width: 70px;
        font-size: 13px;
        /* padding: 10px; */
        color: white;
    }

}
