:root{
    color: white;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
    
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.logo {
    width: 120px;
    /* padding: 36px; */
    padding-left: 55px;
    padding-top: 27px;
    /* padding: 27px; */
}
.langage {
    border: 1px solid black;
    width: 69px;
    height: 26px;
    font-size: 13px;
    /* padding: 10px; */
    margin-right: 22px;
    background-color: #00000063;
    border-radius: 4px;
    color: white;
}

.signin {
    background-color: red;
    border: 1px solid red;
    width: 69px;
    font-size: 13px;
    padding: 5px;
    color: white;
    border-radius: 4px;
}
.topbuttons {
    padding-right: 42px;
    margin-top: 20px;
    /* display: flex; */
    /* align-items: flex-end; */
    padding-right: 65px;
}
.topsection {
    background-image: url(/img/alpha_website_large.jpg);
    background-size: cover;
    position: relative;
    /* background-color: black; */
    /* background-blend-mode: color-burn; */
    border-bottom: 8px solid #222;
    padding-bottom: 40px;
}

.sectiontextone {
    color: white;
    text-align: center;
    font-size: 39px;
    letter-spacing: 2px;
    font-weight: 700;
    padding-top: 108px;
}
.sectiontexttwo {
    color: white;
    text-align: center;
    font-size: 19px;
    font-weight: 100;
    padding-bottom: 5px;
    margin-top: -14px;
    letter-spacing: 1px;
}
.sectiontextthree {
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 17px;
    margin-top: -5px;
}
.formdiv {
    width: 564px;
    height: 44px;
    border: 1px solid white;
    margin: auto;
}

a.signlink {
    color: white;
    text-decoration: none;
}
.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 130px;
}
input[type="email"] {
    width: 454px;
    height: 56px;
    min-height: 38px;
    /* margin-left: -89px; */
    font-size: 18px;
    text-align: start;
    letter-spacing: 1px;
    /* padding: 0px; */
}
button.getstarted {
    background-color: red;
    border: 1px solid;
    /* width: auto; */
    /* height: fit-content; */
    height: 64px;
    width: 149px;
    /* height: 100%; */
}
a.getstartedlink {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.sectiontwo {
    border-bottom: 8px solid #222;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img.tvimage {
    max-width: 480px;
}
.sectiontwoimg {
    width: max-content;
    padding-bottom: 45px;
    margin-top: 18px;
    /* margin-left: -23px; */
    margin-right: 55px;
}
h1.twotext {
    font-size: 47px;
    padding-left: 49px;
}
h4.watch {
    font-size: 28px;
    font-weight: 100;
    padding-left: 49px;
    margin-top: -12px;
}
.sectionthreediv {
    /* padding: 23px; */
    padding-bottom: 76px;
    position: relative;
    margin-left: -135px;
}
img.mobilepic {
    max-width: 447px;
}

.sectionthree
{
    border-bottom: 8px solid #222;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding-bottom:40px;
}
.thirdtextdiv {
    max-width: 401px;
    
    /* display: flex; */
    /* flex-wrap: wrap; */
    position: relative;
    /* border: 1px solid; */
}
.threetext {
    font-size: 50px;
    padding-left: -12px;
    margin-left: -34px;
    
    
}
p.threepara {
    margin-left: -35px;
    font-size: 23px;
    margin-top: -21px;
}
.sectionfour
{
    border-bottom: 8px solid #222;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding-bottom: 40px;
}
.sectionfourimgdiv {
    margin-top: 25px;
    
}
.sectionfiverchildrendiv
{
    margin-top: 25px;
}
.sectionfive
{
    border-bottom: 8px solid #222;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding-bottom: 40px;
}
.sectionfivechildrendiv {
    margin-left: 75px;
    /* padding-bottom: 21px; */
    margin-top: 39px;
}
.sectionfivedivtext {
    
    margin-left: -43px;
    text-align: inherit;
}
.sectionsix
{
    border-bottom: 8px solid #222;
    background-color: #000;
    
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding-bottom: 40px;
}
.sectionsix h1 {
    text-align: center;
    font-size: 51px;
    padding-bottom: 14px;
}

.sectionsixtext {
    margin: auto;
    /* font-size: 9px; */
    padding-top: 30px;
    line-height: 1;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #303030;
    color: white;
    padding: 17px;
    text-align: left;
    border: none;
    width: 825px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    height: 73px;
    font-size: 26px;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-left: 31px;
}
  
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
  .accordion:after {
    content: '\002B';
    font-size: 32px;
    color: white;
    float: right;
    margin-left: 5px;
    /* fill: #fff; */
    margin-top: -3px;
    font-size: 39px;
    font-weight: lighter;

}
.sectiontextbottom {
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 18px;
    margin-top: 74px;
}
.searchbottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 52px;
}
  
}





@media only screen and (min-width: 550px) and (max-width: 949px),
 only screen and (min-width: 400px) and (max-width: 549px), 
 only screen and (min-width: 350px) and (max-width: 399px),
  only screen and (max-width: 349px)
{
    .topbuttons {
        display: flex;
        flex-direction: row;
    }
    img.logo {
        width: 100px;
        /* padding: 36px; */
        padding-left: 25px;
        padding-top: 16px;
        /* padding: 27px; */
    }
    .topbuttons {
        padding-right: 17px;
        margin-top: 23px;
    }
    .langage {
        border: 1px solid black;
        width: 70px;
        font-size: 13px;
        /* padding: 3px; */
        margin-right: 7px;
    }
    .signin {
        background-color: red;
        border: 1px solid red;
        width: 70px;
        font-size: 13px;
        /* padding: 10px; */
        color: white;
    }
    .search {
        display: inline-block;
    }
    input[type="email"] {
        /* width: 246px; */
        padding-left: 53px;
        margin-left: 29px;
        max-width: 280px;
    }
    button.getstarted {
        margin-left: 130px;
        margin-top: 17px;
    }
    .sectiontwo{
        display: inline-block
    }
    .sectiontwoimg {
        
        margin: auto;
    }
    h4.watch {
        text-align: center;
        margin-left: -7px;
        padding-left: 2px;
    }
    h1.twotext {
        font-size: 47px;
        /* padding-left: 58px; */
        text-align: center;
    }
    .sectionthree {
        display: inline-block;
        
    }
    .sectionthreediv {
        margin: auto;
        margin-left: 39px;
    }
    .thirdtextdiv {
        margin: auto;
        text-align: center;
    }
    img.mobilepic {
        max-width: 440px;
    }
    .sectionfour{
        display: inline-block
    }
    .sectionfourimgdiv
    {
        
    padding-bottom: 45px;
    
    
    }
    img.tvimage {
        max-width: 480px;
        margin-left: 37px;
    }
    
    .sectionfive
    {
        display: inline-block
    }
    .sectionsix
    {
        display:inline-block
    }

}
